.like-icon {
  inline-size: 41px;
  block-size: 35px;
}

.core {
  transition: fill 0.3s ease;
}

.main-body {
  transition: fill 0.3s 0.05s ease;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s 0.03s ease;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s ease;
}

.like-icon:active .core {
  fill: var(--heart-checked-color);
  transition: fill 0.3s 0.03s ease;
}

.like-icon:active .main-body {
  fill: var(--heart-checked-color);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .contour {
  fill: var(--heart-checked-color);
  transition: fill 0.3s 0.06s ease;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-checked-color);
  transition: fill 0.3s 0.03s ease;
}

.like-icon.is-liked .core {
  fill: var(--heart-checked-color);
  transition: fill 0.3s 0.03s ease;
}

.like-icon.is-liked .heart {
  animation: heart-jump 0.3s 0.1s ease-in both;
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks-jump 0.3s 0.3s ease-in none;
}

@keyframes heart-jump {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

@keyframes sparks-jump {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes arrow {
  0% {
    inset: 0 -5px;
  }

  50% {
    inset: 0 1px;
  }

  100% {
    inset: 0 -5px;
  }
}