.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: var(--weight-regular);
  background: var(--themes-background);
  color: var(--themes-main-color);
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--background-page);
}

.central-position {
  display: grid;
  grid-template-columns: minmax(375px, 696px);
  justify-content: center;
}

.header {
  padding: 102px 0;
}

.header__wrapper {
  display: grid;
  grid-template-rows: 120px 1fr  120px;
  background: var(--themes-background);
  border: solid 2px var(--themes-main-color);
  font-family: var(--accent-font);
  justify-items: center;
  max-block-size: 323px;
}

@media (width >= 376px) {
  .header__wrapper {
    grid-template-rows: 1fr fit-content(108px) 1fr;
    padding-inline-start: 16px;
    max-block-size: 364px;
  }
}

.header__logo-wrapper {
  display: grid;
  justify-items: center;
  gap: 20px;
}

.header__logo {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  line-height: 80%;
}

.theme-menu__list {
  display: grid;
  gap: 7px;
  padding: 25px 0;
  font-size: 14px;
  margin-inline-start: 22px;
}

.theme-menu__button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  text-transform: uppercase;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  color: var(--themes-main-color);
  position: relative;
  inset: 0;
  animation-name: arrow;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  margin-inline-start: -28px;
  pointer-events: none;
  transition: color 0.3s ease;
}

.theme-menu__button::after {
  content: '';
  display: block;
  inline-size: 0%;
  block-size: 3px;
  margin-block-start: 1px;
  background-color: var(--themes-main-color);
  opacity: 0.6;
  transition: 0.3s;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus::after {
  width: 100%;
}

.theme-menu__button:active::after {
  width: 0;
}

/* ______________________________МЕЙН */

.card {
  background: var(--themes-background);
  border: solid 2px var(--themes-main-color);
  display: grid;
  margin-block-end: 50px;
}

.card__title {
  font-variation-settings: var(--weight-title);
  padding: 5px 10px;
}

.card__picture-wrapper {
  position: relative;
  border-block-start: solid 2px var(--themes-main-color);
}

.card__lable {
  position: absolute;
  top: 25px;
  right: 21px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--themes-background),
    0 1px var(--themes-background),
    1px 0 var(--themes-background),
    0 -1px var(--themes-background);
}

@supports (
  (text-stroke: 1px var(--themes-background)) or
    (-webkit-text-stroke: 1px #000000)
) {
  .card__lable {
    -webkit-text-stroke: 1px var(--themes-background);
    text-stroke: 1px var(--themes-background);
    text-shadow: none;
  }
}

.card__picture {
  inline-size: 100%;
  block-size: 100%;
  background-image: radial-gradient(at 30px 30px, var(--themes-main-color), #3f2361);
}

.card__description {
  font-variation-settings: var(--weight-regular);
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  line-height: 116.667%; /* 21px */
}

.card__button-zone {
  display: flex;
  gap: 12px;
  justify-self: end;
  align-items: center;
  padding: 0 25px 25px 0;
}

/* _________________________ОБЕ_____________________________________ */

.button {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 90%; /* 12.6px */

  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--themes-main-color, #000);
  background: var(--themes-background, #fff);

  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}

/* _________________________АНИМАЦИЯ ОБЕИХ_____________________________________ */

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--themes-main-color, #000);
  translate: -100% 0%;
  animation: remove 0.5s ease-in-out forwards;
}

.button:hover::before {
  animation: move 0.5s ease-in-out forwards;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px var(--themes-main-color, #000);
}

.button__text {
  position: relative;
  z-index: 1;
}

.button:hover {
  color: var(--button-text-color, #fff);
}

/* __________________________ККНОПКА СЕРДЦЕ_____________________________________ */

.card__icon-button {
  border: none;
  background: transparent;
  inline-size: 34px;
  block-size: 34px;
  padding: 0;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: solid 2px var(--themes-main-color);
  transition: 0.3s ease;
}

/* __________________________Кнопка Лайк_____________________________________ */

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  padding: 9px 17px;
}

/* __________________________ФУТ_____________________________________ */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 102px;
}

.button_footer-button {
  gap: 8px;
  flex-direction: column;
  inline-size: 306px;
  block-size: 80px;
}

.floppy {
  inline-size: 28px;
  block-size: 28px;
  mix-blend-mode: var(--floppy-setings-one);
  transition: 0.3s;
}

.button:hover .floppy {
  mix-blend-mode: var(--floppy-setings-two);
}

@media (width >= 376px) {
  .button_footer-button {
    flex-direction: row;
    inline-size: 335px;
    block-size: 51px;
  }

  .floppy {
    inline-size: 21px;
    block-size: 21px;
  }
}

/* __________________________Диалог_____________________________________ */

.footer__dialog {
  max-inline-size: 341px;
}

.footer__dialog-container {
  border: solid 2px var(--themes-main-color);
  background: var(--themes-background);
  padding: 32px 42px;

  color: var(--themes-main-color, #000);
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;

  display: flex;
  gap: 30px;
  flex-direction: column;
}

.footer__dialog-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.floppy_floppy-dialog {
  inline-size: 81px;
  block-size: 39px;
}

.button_dialog {
  block-size: 38px;
  text-transform: uppercase;
}

@media (width >= 376px) {
  .footer__dialog {
    max-inline-size: 357px;
  }

  .footer__dialog-container {
    padding: 31.5px 32.5px;
  }
}

.footer__dialog::backdrop {
  opacity: 0.75;
  background: var(--themes-main-color, #000);
}

.card__picture_1-1 {
  filter: brightness(200%);
}

.card__picture_1-2 {
  filter: contrast(220%);
}

.card__picture_1-3 {
  filter: grayscale(0.8);
}

.card__picture_1-4 {
  filter: opacity(0.9);
}

.card__picture_1-5 {
  filter: saturate(158%);
}

.card__picture_1-6 {
  filter: hue-rotate(90deg);
}

.card__picture_1-7 {
  filter: contrast(180%);
}

.card__picture_1-8 {
  filter: sepia(0.5) contrast(2);
}
