.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, "Inter-Variable"), Tahoma, sans-serif;
  font-variation-settings: var(--weight-regular, "wght" 400);
  background: var(--themes-background, #fff);
  font-size: 18px;
  color: var(--themes-main-color, #000);
  background-size: cover;
  background-attachment: fixed;
  background-image: var(
    --background-page,
    repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 1px,
      transparent 1px,
      transparent 2px
    ),
    repeating-linear-gradient(
      0deg,
      #d3d3d3,
      #d3d3d3 1px,
      transparent 1px,
      transparent 2px
    ),
    linear-gradient(#e7e7e7, #1a1a1a)
  );
}

.central-position {
  display: grid;
  grid-template-columns: minmax(375px, 703px);
  justify-content: center;
}

.header {
  padding: 101px 0;
}

.header__wrapper {
  padding-block-start: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--themes-background, #fff);
  border: solid 2px var(--themes-main-color, #000);
  font-family: var(--accent-font, fantasy), Papyrus, fantasy;
  justify-items: center;
  max-block-size: 323px;
}

.header__logo-wrapper {
  display: grid;
  justify-items: center;
  gap: 19px;
}

.header__logo {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__logo:focus {
  outline: none;
}

.header__logo:focus-visible {
  outline: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  text-transform: uppercase;
}

.theme-menu__list {
  display: grid;
  gap: 7px;
  padding: 24px 0;
  font-size: 14px;
  margin-inline-start: 22px;
}

.theme-menu__button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  color: var(--themes-main-color, #000);
  position: relative;
  inset: 0;
  animation-name: arrow;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  margin-inline-start: -28px;
  pointer-events: none;
  transition: color 0.3s ease;
}

.theme-menu__button::after {
  content: "";
  display: block;
  inline-size: 0;
  block-size: 3px;
  margin-block-start: 1px;
  background-color: var(--themes-main-color, #000);
  opacity: 0.6;
  transition: 0.3s;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus::after {
  width: 100%;
}

.theme-menu__button:active::after {
  width: 0;
}

.card {
  background: var(--themes-background, #fff);
  border: solid 2px var(--themes-main-color, #000);
  display: grid;
  margin-block-end: 50px;
}

.card__title {
  font-variation-settings: var(--weight-title, "wght" 700);
  padding: 6px 10px;
  font-size: 18px;
}

.card__picture-wrapper {
  block-size: calc(100% - 4px);
  position: relative;
  border-block-start: solid 2px var(--themes-main-color, #000);
  border-block-end: solid 2px var(--themes-main-color, #000);
}

.card__lable {
  position: absolute;
  top: 22px;
  right: 13px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font, fantasy), Papyrus, fantasy;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--themes-background, #fff),
    0 1px var(--themes-background, #fff),
    1px 0 var(--themes-background, #fff),
    0 -1px var(--themes-background, #fff);
}

@supports (
  (text-stroke: 1px var(--themes-background, #fff)) or
    (-webkit-text-stroke: 1px #000000)
) {
  .card__lable {
    -webkit-text-stroke: 1px var(--themes-background, #fff);
    text-stroke: 1px var(--themes-background, #fff);
    text-shadow: none;
  }
}

.card__picture {
  inline-size: 100%;
  block-size: 100%;
}

.card__description {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  line-height: 116.667%;
}

.card__button-zone {
  display: flex;
  gap: 6px;
  justify-self: end;
  align-items: center;
  padding: 0 25px 25px 0;
}

.button {
  font-family: var(--accent-font, fantasy), Papyrus, fantasy;
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--themes-main-color, #000);
  background: var(--themes-background, #fff);
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.button::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset: 0;
  background: var(--themes-main-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::after {
  transform: scaleX(1);
}

.button__text {
  z-index: 1;
  color: var(--button-text-color, #000);
  mix-blend-mode: difference;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px var(--themes-main-color, #000);
}

.card__icon-button {
  border: none;
  background: transparent;
  inline-size: 40px;
  block-size: 35px;
  padding: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: solid 2px var(--themes-main-color, #000);
  transition: 0.3s ease;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  padding: 9px 17px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 102px;
}

.button_footer-button {
  gap: 8px;
  flex-direction: column;
  inline-size: 306px;
  block-size: 80px;
}

.floppy {
  z-index: 1;
  color: var(--button-text-color, #000);
  mix-blend-mode: difference;
  inline-size: 28px;
  block-size: 28px;
}

.dialog[open] {
  max-inline-size: 341px;
  border: solid 2px var(--themes-main-color, #000);
  background: var(--themes-background, #fff);
  padding: 32px 40px;
  color: var(--themes-main-color, #000);
  font-family: var(--accent-font, fantasy), Papyrus, fantasy;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog-wrapper {
  display: flex;
  align-items: center;
  gap: 23px;
}

.floppy_floppy-dialog {
  inline-size: 89px;
  block-size: 39px;
}

.button_dialog {
  inline-size: 100%;
  block-size: 38px;
  text-transform: uppercase;
}

.dialog::backdrop {
  opacity: 0.75;
  background: var(--themes-main-color, #000);
}

.card__picture_1-1 {
  filter: brightness(200%);
}

.card__picture_1-2 {
  filter: contrast(220%);
}

.card__picture_1-3 {
  filter: grayscale(0.8);
}

.card__picture_1-4 {
  filter: opacity(0.9);
}

.card__picture_1-5 {
  filter: saturate(158%);
}

.card__picture_1-6 {
  filter: hue-rotate(90deg);
}

.card__picture_1-7 {
  filter: contrast(180%);
}

.card__picture_1-8 {
  filter: sepia(0.5) contrast(2);
}

@media (width >= 376px) {
  .header__wrapper {
    padding-block-start: 136px;
    max-block-size: 364px;
  }

  .header__logo-wrapper {
    gap: 20px;
  }

  .header__title {
    line-height: 100%;
  }

  .theme-menu__list {
    gap: 9px;
    padding: 15px 0;
    margin-inline-start: 19px;
    margin-block-start: 8px;
  }

  .card__picture-wrapper {
    block-size: calc(100% - 6px);
  }

  .card__lable {
    top: 24px;
    right: 28px;
  }

  .card__description {
    padding: 17px 26px;
  }

  .button_footer-button {
    flex-direction: row;
    inline-size: 335px;
    block-size: 51px;
  }

  .floppy {
    inline-size: 21px;
    block-size: 21px;
  }

  .dialog[open] {
    max-inline-size: 358px;
    padding: 30px 30px;
  }

  .dialog-wrapper {
    gap: 20px;
  }

  .floppy_floppy-dialog {
    inline-size: 81px;
    block-size: 39px;
  }
}
